---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

<ul class="flex flex-wrap gap-4 justify-center" role="list">
  {
    links.map(({ href, label }) => (
      <li>
        <Link
          href={href}
          aria-label={label}
          title={label}
          class="text-sm text-muted-foreground hover:text-primary transition-colors underline decoration-transparent hover:decoration-current underline-offset-4"
          external
        >
          {label}
        </Link>
      </li>
    ))
  }
</ul>
